*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e5e5;
}
/* ---shared Styles  */

.tektur-fonts {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.subtitle{
    color: #4E4E4E;
    padding: 10px 0;
}
.card-title{
    font-size: 2em;
    margin-top: 10px;
}
.sh-button{
    border: none;
    background-color: rgb(83, 127, 134);
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    transition: 1s;
    margin-bottom: 20px;
}
.sh-button:hover{
    background-color: tomato;
}




header{
    max-width: 100%;
    
}
.header-container{
    height: 100vh;
    margin-top: 50px;
}
nav{
    position: fixed;
    top: 0;
    width: 80%;
    margin: auto;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 5px 30px;
    border-radius: 10px;
    transform: translateX(-50%);
    left: 50%;

}
.nav-search{
    
}
.nav-search input[type="text"]{
    width: 600px;
    height: 17px;
    border-radius: 30px;
    border: none;
    background-color: #e7e3e3;
    padding: 20px;
    font-size: 1.5em;
}
input:focus{
}
input::placeholder{
    color: #857a7add;
    padding-left: 10px;
   
}
.nav-search{
    padding: 8px 0;
    position: relative;
}
.nav-search i{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 1.4em;
    color: #857a7add;
}
.nav-links{

}
.nav-links ul li{
    list-style: none;
    display: inline;
    margin: 15px;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    transition: 1s;
}
.nav-links ul li a:hover{
    background-color: rgb(126, 140, 145);
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}
nav .faa , nav .fa{
    display: none;
}
@media (max-width:700px){
    .header-container{
        padding: 5px 5px;
        width: 90%;
    }
    nav{
        flex-direction: column;
        padding: 10px 5px;
        width: 100%;
    }
    .nav-search input[type="text"]{
        width: 300px;
    }
    .nav-links{
        width: 150px;
        background-color: tomato;
        position: absolute;
        right: -200px;
        top: 0;
        height: 100vh;
        padding: 20px 10px;
    }
    .nav-links ul li a{
        margin: 3px;
        display: block;
    }
    nav .faa{
        display: block;
        font-size: 1.6em;

    }
    nav .fa{
        display: block;
        font-size: 1.6em;
        margin-top: 5px;
    }
}

/* ---hero -Container */
.hero-container{
    width: 100%;
    
    margin-top: 100px;
}
.hero-content{
    width: 80%;
    background-color: #FEEAE9;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
}
.hero-title{
    font-size: 5em;
    margin-bottom: 40px;
    color: rgb(111, 96, 121);
}
.hero-subtitle{
    font-size: 1.4em;
    margin-bottom: 10px;
}
.hero-price{
    color: rgb(216, 133, 119);
    margin-bottom: 50px;
    font-size: 3em;
}
.hero-img{
    display: flex;
    justify-content: end;
}
.hero-img img{
    width: 80%;
    background-position: center;
    background-size: cover;
}

/* -----main Part  */
main{
    width: 100%;

}
.main-container{
    width: 80%;
    margin: auto;
}
.cateories-shops{
    margin-bottom: 50px;
}
.shops-txt{
    font-size: 3.8em;
    padding: 12px 22px;
    color: #574a4add;
}
.shops-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-part{
    display: flex;
    align-items: center;
    width: 28%;
    margin: auto;
    justify-content: space-around;
    background: linear-gradient(to right, #a3d5d8, #e4c279);
    padding: 8px 15px;
    border-radius: 20px;
    transition: 1s;
}
.shop-part:hover{
    transform: scale(1.1);
}
.shop-part .shop-text{
    font-size: 3em;
}

/* ---Shoes Part  */
.shoes-shops{
    margin-top: 80px;
    margin-bottom: 50px;
}
.shoes-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stp{
    font-size: 2em;
    padding: 12px 22px;
    color: tomato;
}
.shoes-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}
.shoes-card{
    background-color: lightblue;
    padding: 8px 15px;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px black;
}

.shoes-card img{
    width: 100%;
}


/* ------Foter Part  */

/* ---Login Form --  */
footer{

}
.form-container{
    background-color: #4E4E4E;
    width: 80%;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    color: white;
}
.login-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-text{
    font-size: 3em;
    color: lightgray;
}
.login-form input[type="text"],input[type="email"],input[type="password"], .login-form textarea{
    width: 500px;
    height: 50px;
    display: block;
    margin: 10px 0;
    padding: 5px 20px;
    font-size: 1.1em;
    border-radius: 10px;
}
.login-form label{
    font-size: 1.4em;
}

input::placeholder{
    
}
input:focus{
}
.login-form input[type="submit"], input[type="reset"]{
    height: 50px;
    width: 150px;
    margin: 30px 60px;
    padding: 10px 20px;
    font-size: 1.4em;
    background: linear-gradient(to right, #348756, #54b6ca);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}


/* -----Footer - Last Container  */
.footer-container{
    margin-top: 50px;
    width: 100%;
    padding: 40px 0;
    background-color: #657686;
}
.footer-parts{
    width: 80%;
    margin: auto;
    color: white;
}
.footer-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.f-parts{
    width: 28%;
}
.f-parts p{
    margin-top: 20px;
    font-size: 1.2em;
    color: lightgray;
}
.discover-parts h3{
    font-size: 1.6em;
    margin-bottom: 20px;    
}
.discover-parts ul li{
    list-style: none;
    padding: 5px 0;
}
.discover-parts ul li a{
    font-size: 1.1em;
    text-decoration: none;
    color: lightgray;
}
.contacts-parts h3{
    font-size: 1.6em;
    margin-bottom: 20px;
}
.contacts-parts p{
    color: lightgray;
}
.contacts-parts i{
    color: rgb(223, 235, 109);
    font-size: 1.3em;
    margin: 5px 5px;
    
}
